.btn-light {
  color: rgb(153,153,153);
  border: 1px solid rgb(153,153,153);
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.8;
  text-decoration: none;
}
.btn-light:hover {
  opacity: 1;
}
